body,
html {
  height: 100%;
  margin: 0;
}

.container {
  display: grid;
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #006157;
}

.sidebar {
  background-color: #005B94;
}

.nav {
  background-color: #642cde;
}

.article {
  background-color: #7E1DC3;
}

.footer {
  background-color: #393f4d;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}
/*  Solution  */
.container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px 100px;
  grid-template-rows: 10px 100px 100px 100px 100px 100px;
}
.header {
  grid-row: 1 / 3;
  grid-column: 1 / 8;
  margin-bottom: 15px;
}
.sidebar {
  grid-row: 3 / 8;
  grid-column: 1 / 3;
  margin-right: 15px;
}
.nav {
  grid-row: 3 / 4;
  grid-column: 3 / 8;
  margin-bottom: 15px;
}
.article {
  grid-row: 4 / 8;
  grid-column: 3 / 8;
}
.footer {
  grid-row: 8 / 10;
  grid-column: 1 / 8;
  margin-top: 15px;
  margin-bottom: 15px;
}